.input-group{
    border: none;
}

.icons{
    display: inline-flex;
    list-style: none;
    margin: auto;
    padding-left: 4px;
}

.icons .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0 10px 10px rgba(0.5, 0.5, 0.5, 0.5);
  }